/* ============================================================

    Site wide variables, declare all variables here, including
    library variables like bootstrap.

   ============================================================ */

/* BOOTSTRAP OVERRIDES
--------------------------------------------------------------- */

$font-size-base: 14px;

$border-radius-sm: 2px;
$border-radius: 2px;
$border-radius-lg: 2px;
