/* Variables to be imported in javascript for use with emotion */

@import "imports";

:export {
  font_family_base: $font-family-base;
  font_family_monospace: $font-family-monospace;
  font_family_sans_serif: $font-family-sans-serif;

  font_size_sm: $font-size-sm;
  font_size_base: $font-size-base;
  font_size_lg: $font-size-lg;

  line_height_sm: $line-height-sm;
  line_height_base: $line-height-base;
  line_height_lg: $line-height-lg;

  border_radius_sm: $border-radius-sm;
  border_radius_base: $border-radius;
  border_radius_lg: $border-radius-lg;

  screen_mobile: $screen-mobile;
  screen_tablet: $screen-tablet;
  screen_desktop: $screen-desktop;

  primary: $blue;
  white: $white;
  black: $black;
  light: $light;
  gray: $gray;
  gray_dark: $gray-dark;
  danger: $danger;
}
